@use '../../styles/variables'
    
.container
    display: flex
    justify-content: center
    align-items: center
    margin-top: 10px   
    
.navbar
    display: flex
    align-items: center
    justify-content: center
    background-color: variables.$contrasteBackgorud
    padding: 30px
    width: 95%
    border-radius: variables.$radiusFora
 